@import "bootstrap-sprockets";
@import "bootstrap";

//Body

body{

}

//Header
header{

}

//Logo Holder
.holder{
  padding-top: 5%;
  width: 100%;
  margin:auto;
  #logo{
    width: 20%;
    height: 20%;
    display:block;
    margin-left: auto;
    margin-right: auto;
  }

}



//Footer
footer{
  background-color: #2E2F30;
  //padding-bottom: 4%;
  //height: 100%;
  margin: 0;
  ul {
    width: 11.5%;
    li {
      width: 100%;
      //padding-left: 50%;
    }
  }
}
