@import "bootstrap-sprockets";
@import "bootstrap";

//Body

body{
  text-align: center;
}

//Header
header{
  background-color:#2E2F30;
  li{
    font-size:100%;
  }
  #logo{
    padding-right:1%;
    font-size: 200%;
  }
  #bird_logo{
    padding:1px;
  }
  .container{
    margin-left:5% !important;
  }
}

//Logo Holder
.holder{
  padding-top: 5%;
  width: 100%;
  margin:auto;
  #logo{
    width: 20%;
    height: 20%;
    display:block;
    margin-left: auto;
    margin-right: auto;
  }
}

//Ad for Magnets and DremJump
#ad_hold {
  border-style: solid;
  border-width: 2px;
  border-radius: 5px;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  //This is just to get an idea of how it'll look
  height: 300px;
  margin-top: 2%;
  position: relative;

  //Universal to All Ad Scenes
  .ad {
    position: absolute;
    height: 100%;
    width: 100%;
  }


  //Main Panel
  #main{
    white-space: nowrap;
    text-align: center;
    z-index: 2;
    #dummy{
      display: inline-block;
      height: 100%;
      vertical-align: middle;
      width: 0;
    }
    .app_icon{
      width: 10%;
      vertical-align: middle;
      display: inline-block;
      transition: transform 0.3s;
      -moz-transition: transform 0.3s;
      -webkit-transition: transform 0.3s;
      -webkit-transform: scale(1, 1);
      -moz-transform: scale(1, 1);
      transform: scale(1, 1);
      -ms-tranform: scale(1, 1);
    }
    .app_icon:hover{
      transition: transform 0.3s;
      -webkit-transform:scale(1.2,1.2);
      -moz-transform:scale(1.2, 1.2);
      transform:scale(1.2,1.2);
      -ms-tranform:scale(1.2, 1.2);
    }

    #dj_icon{
      margin-right:10%;
    }
    #mag_icon{
      margin-left: 10%;
    }
  }

  //Dream Jump Scene
  #dj{
    z-index: 1;
    display:none;
  }
  //Magnets Scene
  #mag{
    z-index: 0;
    display:none;
  }

}



//Footer
footer{
  background-color: #2E2F30;
  margin: 0;
  nav {
    background-color: #2E2F30 !important;
    ul {
      width: 100%;
      text-align: right;
      margin: 0;
      padding: 0;
      li {
        width: 50%;
        float: right !important;
        margin-right: 5%;
      }
    }
  }
}
