<body>

<!--<header><p class = "logo"><img src="dream_jump.png" alt = "Dream Jump Logo"></header>-->

<h2>Privacy Policy</h2>
<p>Our Privacy Policy sets out how we collect, use and disclose “personal information” and other “non personal information” we have gathered about you.</p>

<h2>Collection of "Personal Information"</h2>
<p>Voltrace does not collect personal information such as your name, address, or email address when visiting our site or playing our games. If you contact us directly for any reason, we may also keep a copy of that correspondence. Sensitive Information such as racial/ethnic origin, political affiliation, relgious/philishophical beliefs, or any criminal record is in no way or form collected by Voltrace or any of its products.</p>

<h2>Use of Third Party Software</h2>
<p>Voltrace in itself avoids collecting information where possible however our applications use third party software that can affect the collection of information. Privacy policies of said software is linked below.</p>

<h5>Unity Ads: <a href="https://unityads.unity3d.com/help/legal/privacy">https://unityads.unity3d.com/help/legal/privacy</a></h5>

<h2>Policy Updates</h2>
<p>Our privacy policy is subject to change, this page will always reflect any updates as they come.</p>

<h2>Complaints</h2>
<p>Complaints or concerns regarding our policy can be sent to the email address below.</p>

<h2>Policy Contact Information</h2>
<p>privacy@voltrace.com</p>
<h6 style = "padding-top:2%;margin-left:1%;">Policy Last Updated: November 16, 2016</h6>

</body>