<div id = "ad_hold">
<div id = "main" class = "ad">
  <span id = 'dummy'></span>
  <%= image_tag('dj_icon.png', alt:'Dream Jump Icon', class: 'app_icon', id: 'dj_icon', onclick: 'remove()')%>
  <%= image_tag('magnets_icon.png', alt: 'Magnets Icon', class: 'app_icon', id: 'mag_icon', onclick: 'remove()')%>
</div>
<div id = "dj" class = "ad">
</div>
<div id = "mag" class = "ad">
</div>
</div>