<footer class="footer navbar-fixed-bottom" id = "footer">
    <nav class = "navbar-default">
      <ul class = "nav navbar-nav navbar-right">
        <li><%= link_to "Privacy Policy", '' ,class: 'privacy'%></li>
      </ul>
    </nav>
</footer>