<footer class="footer navbar-inverse">
    <nav class = "navbar-default">
      <ul class = "nav navbar-nav navbar-right">
        <li><%= link_to "Privacy Policy",   privacy_policy_path %></li>
      </ul>
    </nav>
</footer>